@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-950 leading-relaxed antialiased transition-colors duration-200 ease-out dark:bg-neutral-900 dark:text-neutral-50/90;
}

h1,
h2,
h3 {
  @apply break-keep;
}

/* h1 */
.markdown h1 {
  @apply text-3xl font-bold;
}
.markdown *:not(h1, h2, h3) + h1 {
  @apply mt-16;
}

/* h2 */
.markdown h2 {
  @apply text-2xl font-bold;
}
.markdown *:not(h1, h2, h3) + h2 {
  @apply mt-14;
}

/* h3 */
.markdown h3 {
  @apply text-xl font-bold;
}
.markdown *:not(h1, h2, h3) + h3 {
  @apply mt-12;
}

.markdown > * + * {
  @apply mt-6;
}

.markdown > h1 + * {
  @apply mt-6;
}
.markdown > h2 + * {
  @apply mt-4;
}
.markdown > h3 + * {
  @apply mt-3;
}

.markdown h2 + .markdown > p,
.markdown h3 + .markdown > p {
  @apply mt-4;
}

.markdown ol {
  @apply list-decimal;
}

.markdown ul {
  @apply list-disc;
}

.markdown ol,
.markdown ul {
  @apply ps-5;
  /* @apply mb-6; */
}

.markdown ol li + li,
.markdown ul li + li {
  @apply mt-3;
}

.markdown li p + p {
  @apply mt-1;
}

.markdown p + ol,
.markdown p + ul {
  @apply mt-3;
}

.markdown ol ol,
.markdown ol ul,
.markdown ul ol,
.markdown ul ul {
  @apply mt-2;
}

.markdown blockquote {
  @apply border-l-4 border-current my-4 pl-4 leading-relaxed;
}

.markdown > blockquote {
  @apply text-lg;
}

.markdown thead th {
  @apply my-4;
}

.markdown thead {
  @apply border-b border-gray-300 dark:border-neutral-500;
}

.markdown thead th {
  @apply px-2 pb-2 align-bottom;
}

.markdown thead th:first-child {
  @apply pl-0;
}

.markdown thead th:last-child {
  @apply pr-0;
}

.markdown tbody tr {
  @apply border-b border-gray-200 dark:border-neutral-700;
}

.markdown tbody tr:last-child {
  @apply border-0;
}

.markdown tbody td {
  @apply align-baseline;
}
.markdown tbody td,
.markdown tfoot td {
  @apply px-2 py-2;
}

.markdown tbody td:first-child {
  @apply pl-0;
}
.markdown tbody td:last-child {
  @apply pr-0;
}

.markdown table {
  @apply w-full text-sm text-left table-auto;
}

.markdown a:not(.anchor) {
  @apply decoration-dashed decoration-1 underline-offset-[3px] underline;
  @apply hover:transition-colors hover:ease-in hover:duration-100 hover:bg-gray-950 hover:text-gray-50 hover:no-underline;
  @apply dark:hover:bg-gray-50/90 dark:hover:text-neutral-900;
}

.markdown img {
  @apply rounded-lg;
}

.markdown .anchor {
  position: absolute;
  transform: translate(-100%);
  padding-right: 4px;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
}
.markdown .anchor svg {
  fill: currentColor;
}
