body {
  --smoothing: auto;
  --default-color: inherit;
  --background: rgba(100, 100, 0, 0.03);
  --inline-code-background: hsla(44, 6%, 50%, 0.15);
  --punctuation: #999;
  --comment: slategray;
  --script: inherit;
  --deleted: #905;
  --property: #905;
  --string: #690;
  --operator: #9a6e3a;
  --operator-background: hsla(0, 0%, 100%, 0.5);
  --attribute-value: #07a;
  --variable: #e90;
  --function: #dd4a68;
}

html.dark body {
  --smoothing: antialiased;
  --default-color: rgba(255, 255, 255, 0.85);
  --background: rgba(255, 255, 255, 0.03);
  --inline-code-background: rgba(155, 151, 140, 0.15);
  --punctuation: rgba(255, 255, 255, 0.81);
  --comment: hsl(30, 20%, 50%);
  --script: rgba(255, 255, 255, 0.81);
  --deleted: red;
  --property: hsl(350, 45%, 70%);
  --string: hsl(75, 70%, 60%);
  --operator: hsl(40, 90%, 60%);
  --operator-background: auto;
  --attribute-value: hsl(350, 45%, 70%);
  --variable: hsl(40, 90%, 60%);
  --function: inherit;
}

code[class*='language-'],
pre[class*='language-'] {
  font-size: 0.85rem;
  color: var(--default-color);
  font-family: Consolas, Menlo, Monaco, source-code-pro, Courier New, monospace;
  font-feature-settings: normal;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  -webkit-font-smoothing: var(--smoothing);

  transition-property: color, background-colorl;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
  }
}

pre[class*='language-'],
:not(pre) > code[class*='language-'] {
  background: var(--background);

  /* background: rgba(255, 255, 255, 0.03); */
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1.5em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.5em;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  background: var(--inline-code-background);
  border-radius: 0.22em;
  color: inherit;
  font-size: 85%;
  line-height: normal;
  padding: 0.15em 0.4em;
  white-space: normal;
  transition: none;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--comment);
}

.token.punctuation {
  color: var(--punctuation);
}

.token.script {
  color: var(--script);
}

.token.namespace {
  opacity: 0.7;
}

.token.deleted {
  color: var(--deleted);
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: var(--property);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--string);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: var(--operator);
  /* background: var(--operator-background); */
}

.token.variable {
  color: var(--variable);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: var(--attribute-value);
}

.token.function,
.token.class-name {
  color: var(--function);
}

.token.regex,
.token.important {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

pre[data-line] {
  position: relative;
  padding: 1em 0 1em 3em;
}

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em; /* Same as .prism’s padding-top */

  background: rgba(255, 255, 255, 0.04);
  pointer-events: none;

  line-height: inherit;
  white-space: pre;
}

@media print {
  .line-highlight {
    /*
      * This will prevent browsers from replacing the background color with white.
      * It's necessary because the element is layered on top of the displayed code.
      */
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }
}

.line-highlight:before,
.line-highlight[data-end]:after {
  content: attr(data-start);
  position: absolute;
  top: 0.4em;
  left: 0.6em;
  min-width: 1em;
  padding: 0 0.5em;
  background: rgba(255, 255, 255, 0.04);
  color: hsl(24, 20%, 95%);
  font: bold 65%/1.5 sans-serif;
  text-align: center;
  vertical-align: 0.3em;
  border-radius: 999px;
  text-shadow: none;
  box-shadow: 0 1px white;
}

.line-highlight[data-end]:after {
  content: attr(data-end);
  top: auto;
  bottom: 0.4em;
}

.gatsby-highlight-code-line {
  background-color: hsla(207, 95%, 15%, 1);
  display: block;
  margin-right: -1.2525rem;
  margin-left: -1.2525rem;
  padding-right: 1em;
  padding-left: 1.25em;
  border-left: 0.25em solid #ffa7c4;
}
