@import './code.scss';
@import './article.scss';

body {
  font-family: sans-serif, 'Noto Sans KR';
}

.tags,
.tags li {
  display: inline;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tags a {
  box-shadow: none;
  cursor: default;
}

.tags li:not(:first-child)::before {
  content: ', ';
}

a.anchor.before {
  padding-right: 6px;
  height: 100%;
  display: flex;
  align-items: center;
}
